<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tasky{% endblock %}</title>
    {{ moment.include_moment() }}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
   

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">TASKY</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
       <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link"> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                            </svg>
                            {{current_user.username}}  
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                    </li>
                {% endif %}
            </ul>
    </div>
  </div>
</nav>

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    
    <section class="projects-wrapper"> 
        <aside class="projects">
            <h4>Project</h4>
            <div class="bg-light p-2 mb-1">
                <h6>Title</h6>
                <p>
                     {{ project.title }}
                </p>
               
            </div>
            <div class="bg-light p-2">
               
                <h6>Description</h6>
                <p>{{ project.description }}</p>
            </div>
            <p class="mt-2 d-flex justify-content-between smaller">
                <span>
                    <strong>Due:</strong> {{ moment(project.deadline).format('MMMM Do \'YY, h:mm:ss a') }}
                </span> 
                <span>
                    <strong>Status:</strong> {{ project.status }}
                </span> 
            </p>

            <div class="project-task-team">
                 <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" 
                        id="home-tab" 
                        data-toggle="tab" 
                        data-target="#home" 
                        type="button" 
                        role="tab" 
                        aria-controls="home" 
                        aria-selected="true">
                        <h6>Team</h6>
                    </button>
                    </li>
                    
             
                </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                   
                   <h3>Team Members</h3>
                   <ul class="list-group">
                        {% for task in project.tasks %}
                           <li class="list-group-item">{{ task.assignee_name }}</li>
                       {% endfor %}
                   </ul>
                    
                </div>
                
                 
            </div>
        </aside>
        <main class="project-list"> 
           
            <div class="d-flex justify-content-between">
                <h3>Tasks</h3>
                <button 
                type="button" 
                class="btn btn-primary" 
                data-bs-toggle="modal" 
                data-bs-target="#exampleModal">
                    Add
                </button>
            </div> 
             
            <div class="accordion" id="accordionExample">
                {% for task in project.tasks %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_{{loop.index}}">
                        <div 
                            class="accordion-button" 
                            type="button" 
                            data-bs-toggle="collapse"
                            data-bs-target="#collapse_{{loop.index}}" 
                            aria-expanded="{% if loop.first %}true{% else %}false{% endif %}" 
                            aria-controls="collapse_{{loop.index}}">
                            <span>
                                <span class="text-light bg-primary d-inline-block width-20 text-center">
                                    {{loop.index}}
                                </span> 
                                {% if task.assignee_id %}
                                    <strong>Assigned to: </strong> {{ task.assignee_name }}
                                {% else %}
                                    <strong>Assigned to: </strong> None
                                {% endif %}
                            </span>
                            
                        </div>
                        </h2>
                        <div 
                            id="collapse_{{loop.index}}" 
                            class="accordion-collapse collapse {% if loop.first %}show{% endif %}" 
                            aria-labelledby="heading_{{loop.index}}" 
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>
                                    Activity
                                </strong> 
                                <div class="bg-light p-2 ">
                                    <p>
                                        {{ task.activity }}
                                    </p>
                                </div>
                                <p class="d-flex justify-content-between">
                                    <span>
                                        <strong>Status:</strong> {{ task.status }}
                                    </span> 

                                    <span>
                                        <strong>Deadline:</strong> {{ moment(task.due_date).format('MMMM Do YYYY, h:mm:ss a') }}
                                    </span> 
                                </p>
                                
                                <div class="task_update_delete">
                                    <!-- Link to task update form -->
                                    <a href="{{ url_for('main.update_task', task_id=task.id) }}" class="btn btn-primary">Update</a>
                                    
                                    <!-- Form to delete task-->
                                    
                                    <form action="{{ url_for('main.delete_task', task_id=task.id) }}" method="POST">
                                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                    
                        
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
            
        </main>
    </section>
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
       <div class="modal-body">
           <form method="POST" action="">
                        {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.activity.label }}<br>
                        {{ form.activity(class="form-control") }}
                        {% if form.activity.errors %}
                            <div class="text-danger">
                                {% for error in form.activity.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.due_date.label }}<br>
                        {{ form.due_date(class="form-control") }}
                        {% if form.due_date.errors %}
                            <div class="text-danger">
                                {% for error in form.due_date.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.assignee_id.label }}<br>
                        {{ form.assignee_id(class="form-control") }}
                        {% if form.assignee_id.errors %}
                            <div class="text-danger">
                                {% for error in form.assignee_id.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.status.label }}<br>
                        {{ form.status(class="form-control") }}
                        
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
