.projects-wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;

}

.projects {
    background-color: #dbe4ee;
    width: 29%;
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
}

.project-details {
    background-color: #f8f9fa;
    width: 69%;
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
}

.new-project {
    display: none;
}

.show-project-form-btn {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.show-project-form-btn p {
    text-align: center;
    width: 300px;

}

.show-project-form-btn small {
    display: block;
}

.show-project-form-btn button {
    background-color: blue;
    color: azure;
    border: none;
    padding: 5px;
    border-radius: 6px;
    margin: auto;
}

.num-tasks {
    padding-right: 10px;
    font-weight: bold;
}

.project-task-team {
    padding: 5px;
    background: #f8f9fa;
}

#home,
#profile {
    padding: 20px;
    min-height: 200px;
}

.task_update_delete {
    display: flex;
    justify-content: space-between;
}